{"__jsonclass__":"http://telex.org/relations/command-definition",
 "name" : "echo",
 "label" : "Echo",
 "executable" : "echo",
 "submitter" : "user",
 "category" : "shell",
 "description" : "Command echoeing to stdout." 
}
