{"__jsonclass__":"http://telex.org/relations/command",
 "command_definition": 
   "http://localhost:6543/command-definitions/echo",
 "parameters": 
  [{"__jsonclass__":"http://telex.org/relations/parameter",
    "parameter_definition": 
        "http://localhost:6543/command-definitions/echo/parameter-definitions/text",
    "value":"%(text)s"
    }],
 "timestamp":"%(timestamp)s",
 "user":"%(user)s"
}