{"__jsonclass__":"http://telex.org/relations/parameter-definition",
 "name" : "text",
 "label" : "Text",
 "description" : "Text to echo.",
 "value_type" : "STRING",
 "parameter_options" : 
    [{"__jsonclass__":"http://telex.org/relations/parameter-option",
      "name":"is_mandatory",
      "value":"true"
      }
      ]                 
}