{"__jsonclass__":"http://telex.org/relations/shell-command",
 "command_definition": 
   "http://localhost:6543/shell-command-definitions/echo",
 "submitter":"%(submitter)s",
 "parameters": 
  [{"__jsonclass__":"http://telex.org/relations/parameter",
    "parameter_definition": 
        "http://localhost:6543/shell-command-definitions/echo/parameter-definitions/text",
    "value":"%%(param)s"
    }],
 "timestamp":"%(timestamp)s"
}